.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #F2F3F8;
  background-image: url("./bg.png");
  /* height: auto; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

footer{
  position: relative;
  top: 12rem;
  
  bottom: 0;
  right: 0px;
  left: 0px;
  
}